version: '3'

services:
  gdb:
    build: ./src
    volumes:
      - ./src/index.php:/var/www/html/index.php
    tty: true
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
  